
.sea{
	margin-top:30px;
	width: 200px;
	height: 40px;
	border:2px solid black;
	border-radius: 10px;
	text-align: center;
	font-size: 25px;
	margin-left: 110px;
}
.sea1{
	margin-top:30px;
	width: 200px;
	height: 40px;
	border:2px solid black;
	border-radius: 10px;
	text-align: center;
	font-size: 25px;
	margin-left:160px;

}
.h{
    margin-left:505px;
	font-size: 40px;
	color:red;
}
.hh{
	margin-left: 30px;;
	font-size: 40px;
	color:red;
}
.inc{
	width:16px;
	height:16px;
}

.la{
    margin-left:30px;
    font-size:20px;
}
.inc{
	font-size:25px;
}

.button {

  width: 120px;
  height: 50px;
  background-color: blue;
  color: white;
  text-align:center;
  line-height:50px;
  border:1px solid blue;
  border-radius: 10px;
	margin-top: 20px;
	margin-left: 10px;
}
button.pressed {
							 background-color: green;
					 }



.disabled {
  background: #eee;
  color: #aaa;
}
.button:hover{
     background-color:red;
}
}
body{
    background-color: #f2f2f2;
}
.f{
	margin-left: 300px;
}
